*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin:20px;
    color: #ffff;
}
body{
    background-color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;    
    align-items: center;
    flex-direction: column;
    background-image: url("nazare.jpg");
    
}
.calculadora-container{    
    width: 300px;
    padding: 10px 5px;   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; 
    background: rgba( 173, 117, 173, 0.65 );
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
 }
.botao,.botaoC,.botaoR,.op{
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    background-color:aliceblue;
}
.botao,.op{
    width: 50px;   
   
}.botaoC,.botaoR{
    width:115px ;      
}

.op{
    font-size: 20px;
}
.botao:hover,.resultado:hover,.op:hover,.botaoR:hover,.botaoC:hover{
    background-color: black;
    transition: 4ms;
    cursor:pointer;
    color:#ad75ad;
    
}
.valores{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    width: 260px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
    background-color:aliceblue;

}
.botoes{
    margin:auto;
}
